---
// @ts-nocheck
/**
 | AstroInfoPopup.astro
 |
 | To trigger the popup, send a custom event 'showinfopopup'
 |
 | Example:
 |   ---
 |   const infoItem = { <fill in details> }
 |   const infoItemJSON = JSON.stringify([infoItem]);
 |   ---
 |      ...
 |   <PopupInfo id="" html="" />
 |      ...
 |   <script>
 |      ...
 |     const event = new CustomEvent('showinfopopup', {bubbles:true, detail:this.dataset-dataInfoItem});
 |     window.dispatch(event);
 |      ...
 |   </script>
 */

interface Props {
  popupId: string;
  styles?: string;
}

const { popupId, styles="background-color:wheat" } = Astro.props;
---
<style lang="sccs">
  .blackout-ctnr {
    position: absolute; height:100vh; width: 100vw;
    display: flex; flex-direction: row; justify-content: center;
    top:0; left:0;
    background-color:rgba(0, 0, 0, 0.7);
    visibility:hidden
  }

  .info-loupe {
    max-height:80vh; width:50vw; margin:auto; padding-left:2em; padding-right:2em;font-size:1rem;
    border-radius:20px; overflow-y: auto; overscroll: contain; overflow-y: auto;
    z-index:99999; position:relative; height:auto; font-family:Roboto;
  }

  .info-loupe {
    p, li { margin-top: 1rem; font-size: 1rem; }
    h3 { margin-top: 1rem; text-decoration: underline; }
    ul { margin-left: 1em; }
  }
</style>

<div is="info-popup" 
    data-popup-id={popupId}
    class="blackout-ctnr">
  <div style={styles} class="info-loupe">
    <div id="info-loupe-content" />
    <div style="display: flex; justify-content: end;padding: 1rem 0;">
    <button style="color:#333" id="close-button">Close</button>
    </div>
  </div>
</div>
<script>
customElements.define('cl-divider',
  class extends HTMLElement {
    constructor() {
      super();
      const shadow = this.attachShadow({mode: 'closed'});
      shadow.innerHTML = `
    <style>
      div.outer { display:flex; flex-direction:row; justify-content:center; width:100%; }
      div.inner {height:2px; margin-top:1em; margin-bottom: 1em; background-color:#999; width:50%;}
    </style>
    <div class="outer">
      <div class="inner"></div>
    </div>
      `; 
    }
  }
)

class infoPopup extends HTMLDivElement {
  loupe:HTMLElement;
  popupId: string;
 constructor() {
    super();
    const self = this;
    this.popupId = this.dataset.popupId!;
    this.loupe = this.querySelector(".info-loupe")!;

    this.addEventListener('keydown', (event) => {
      event.preventDefault(); event.stopPropagation(); return false;
    });

    this.querySelector('#close-button')!.addEventListener('click', () => { this.hideLoupe() });

    window.addEventListener(this.popupId, (event) => {
        // console.log('got showinfopopup event');
        //@ts-ignore
        const hasDetail:boolean = !!event.detail
        // @ts-ignore

        const infoHtml = event.detail;

        const loupeRect = this.loupe.getBoundingClientRect();

        this.style.top = Math.round(window.scrollY) + 'px';
//        this.loupe.classList.add('popup-scale-in');

        self.showLoupe(infoHtml);
      });

//    this.setLoupeVisibility(false);
    window.addEventListener('scroll', () => this.setLoupeVisibility(false))
  }

  setLoupeVisibility(vis:boolean) {
    this.style.visibility = vis? 'visible' : 'hidden';
    // console.log('In setLoupeVisibility - ' + this.style.visibility);
  }

  showLoupe(infoHTML:string):void {
    let loupeContentEl:HTMLDivElement = this.querySelector("#info-loupe-content")!;
    loupeContentEl.innerHTML = infoHTML;
    this.setLoupeVisibility(true);
  }
 
  hideLoupe():void {
    // this.loupe.classList.add('popup-scale-out');
    this.setLoupeVisibility(false);
  }
}

customElements.define('info-popup', infoPopup, {extends: 'div'});
</script>
